trigger:
  branches:
    include:
      - main  # dispara a cada alteração na branch master

variables:
  buildConfiguration: 'Release'
  dockerRegistryServiceConnection: 'rm558830.azurecr.io' 
  acrName: 'rm558830' 
  imageName: 'pulse-system-api'

stages:
- stage: Build
  displayName: 'CI - Build e Testes'
  jobs:
  - job: Build
    displayName: 'Build Solution, Testes e Docker'
    pool:
      vmImage: 'ubuntu-latest'

    steps:
    - task: UseDotNet@2
      displayName: 'Instalar SDK .NET 8'
      inputs:
        packageType: 'sdk'
        version: '8.x.x' 

    - task: DotNetCoreCLI@2
      displayName: 'Restaurar pacotes'
      inputs:
        command: 'restore'
        projects: '**/*.csproj'

    - task: DotNetCoreCLI@2
      displayName: 'Build da solução'
      inputs:
        command: 'build'
        projects: '**/*.csproj'
        arguments: '--configuration $(buildConfiguration)'

    - task: DotNetCoreCLI@2
      displayName: 'Executar testes'
      inputs:
        command: 'test'
        projects: '**/*.Tests/*.csproj'
        arguments: '--configuration $(buildConfiguration)'

    - task: Docker@2
      displayName: 'Build da imagem Docker'
      inputs:
        containerRegistry: $(dockerRegistryServiceConnection)
        repository: $(acrName)/$(imageName)
        command: 'buildAndPush'
        Dockerfile: 'PulseSystem.API/Dockerfile'
        tags: |
          $(Build.BuildId)

    - script: |
        mkdir -p $(Build.ArtifactStagingDirectory)
        echo "IMAGE_NAME=$(acrName).azurecr.io/$(imageName)" > $(Build.ArtifactStagingDirectory)/image-info.txt
        echo "IMAGE_TAG=$(Build.BuildId)" >> $(Build.ArtifactStagingDirectory)/image-info.txt
      displayName: 'Criar arquivo de artifact para CD'

    - task: PublishBuildArtifacts@1
      displayName: 'Publicar Artifact'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'docker-image-info'
        publishLocation: 'Container'
